$duration: 10s;
.footer{
    background:#161618;
    padding:25px 0;
    overflow-x:hidden;
    @media only screen and (min-width : $ipad){
        //padding:50px 0;
    }
    &--menu{
        width: 100%;
        overflow: hidden;
        background-color: #161618; 
        //padding-left: 100%;
        box-sizing: content-box;
        ul{
            margin:0;
            display: flex;
            padding: 0;
            justify-content: space-between;
            @include responsive-font-size (
                $min-font-size: 0.8em,
                $max-font-size: 0.8em,
                $min-screen-width: 640px,
                $max-screen-width: 1200px,
                $font-size-step: 0.1em /* optional, default: 0.1em */
                );
            li{
                display:inline-block;
                margin:0 15px;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 5px;
                @include responsive-font-size (
                    $min-font-size: 0.8em,
                    $max-font-size: 1em,
                    $min-screen-width: 640px,
                    $max-screen-width: 1200px,
                    $font-size-step: 0.1em /* optional, default: 0.1em */
                );
                a{
                    color:#fff;
                    text-decoration: none;
                    &:hover{
                        color:$dm-pink;
                    }
                }
            }
            &.terms{
                justify-content: normal;
            }
        }
    }
}
body{
    &.modal-open{
        position: relative;
        overflow:hidden;
        &:after{
            content:"";
            position:absolute;
            background:rgba(0,0,0,0.8);
            left:0;
            top:0;
            height:100%;
            width:100%;
            z-index:10;
        }
    }
}
.popup-content{
    max-width: 800px;
    padding:0 15px
}
.modal-wrapper{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    left:0;
    top:0;
    position: fixed;
    z-index:99;
}
.modal-toggle{
    display:none;
}
.modal {
    font-size: 12px;
    background:#000;
    z-index:10;
    padding:30px;
    text-align:center;
    border-radius:12px;
    //max-width:75%;
    //margin:0 12.5%;
    left:0;
    right:0;
    margin:0 5vw;
    text-align:left;
    border: 3px solid #101010;
    z-index:99;
    position:relative;
    margin:0 auto;
    max-width: 500px;

    @media only screen and (min-width : $breakpoint){
        padding: 2.5% 5%;
        width: 50%;
        max-width: 700px;
    }

    h3{
        margin-top:0em;
        margin-bottom:1em;
        @include responsive-font-size (
            $min-font-size: 2em,
            $max-font-size: 2.5em,
            $min-screen-width: 640px,
            $max-screen-width: 1200px,
            $font-size-step: 0.1em /* optional, default: 0.1em */
        );
        &:after{
            right:auto;
            bottom:-10px;
        }
    }

    ul, p{
        @include responsive-font-size (
            $min-font-size: 1em,
            $max-font-size: 1.25em,
            $min-screen-width: 640px,
            $max-screen-width: 1200px,
            $font-size-step: 0.1em /* optional, default: 0.1em */
        );
    }
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    //padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .modal-close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }