
body{
    overflow-x:hidden;
    position: relative;
}
.menu-open{
    overflow:hidden;
    .mobile-menu{
        //display:block;
        opacity:1;
        visibility:visible;
        pointer-events:all;
        transform: translateX(0%);
        width:100%;
    }
    .burger{
        display:none;
    }
    .close{
        display:block;
    }
}
.mobile-menu{
  height:100vh;
  background:#000;
  padding:15%;
  display:flex;
  align-items:center;
  //display:none;
  opacity:0;
  visibility:hidden;
  transition: transform 0.2s ease-in-out;
  pointer-events:none;
  transform: translateX(100%);
  position: fixed;
  z-index: 99;
  width: 0;
  ul{
      list-style:none;
      text-align:center;
      padding:0;
      width:100%;
      margin:0;
      li{
          font-size:2em;
          margin:2em 0;
          font-weight:300;
          a{
            color:#fff;
            text-decoration:none;
            position: relative;
            &:after{
                content:"";
                height: 2px;
                background: #fff;
                position: absolute;
                left: 0;
                bottom: -20px;
                width: 50%;
                right: 0;
                margin: 0 auto;
            }
          }
      }
  }  
}