h1 {
    @include responsive-font-size (
        $min-font-size: 1.8em,
        $max-font-size: 4.5em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
}
h2 {
    @include responsive-font-size (
        $min-font-size: 1.6em,
        $max-font-size: 4em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
}
h3 {
    @include responsive-font-size (
        $min-font-size: 1.4em,
        $max-font-size: 3.5em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
}
h4 {
    @include responsive-font-size (
        $min-font-size: 1.2em,
        $max-font-size: 3em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
}
h5 {
    @include responsive-font-size (
        $min-font-size: 1em,
        $max-font-size: 2.25em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
}
h6 {
    @include responsive-font-size (
        $min-font-size: 1em,
        $max-font-size: 1.25em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
}
h1, h2, h3, h4, h5, h6{
    font-family: $f-title, sans-serif;
    line-height:1.25;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing: 0.25em;
    margin:1em 0 2em;
    position:relative;
    &:after{
        content:"";
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 50%;
        right: 0;
        margin: 0 auto;
    }
    &.left{
        &:after{
            right:auto;
        }
    }
}
h1, h2, h3{
    //margin-top:20px;
    //margin-bottom:10px;
}
h4, h5, h6{
    //margin-top:10px;
    //margin-bottom:10px;
}
p{
    font-family: $f-body, sans-serif;
    line-height: 1.5;
    letter-spacing:0.25px;
    @include responsive-font-size (
        $min-font-size: 1em,
        $max-font-size: 1.5em,
        $min-screen-width: 640px,
        $max-screen-width: 1200px,
        $font-size-step: 0.1em /* optional, default: 0.1em */
    );
    span{
        @include responsive-font-size (
            $min-font-size: 1.1em,
            $max-font-size: 1.6em,
            $min-screen-width: 640px,
            $max-screen-width: 1200px,
            $font-size-step: 0.1em /* optional, default: 0.1em */
        ); 
    }
}
a{
    transition:0.2 all;
    &:hover{
        text-decoration: none;
        cursor: pointer;
        //transform: scale(1.1);
    }
}
.italic{
    font-style: italic;
}