#insta{
    flex-wrap:wrap;
    h4{
        padding-right:15px;
        @media only screen and (min-width : $large-breakpoint){
            padding-right:50px;
        }
        a{
            color:inherit;
            text-decoration:none;
            transition:0.2s ease-in-out;
            &:hover{
                color:#9a9a9a;
            }
        }
        .insta{
            background-image:url("../images/instagram.png");
            background-size:10px;
            position: absolute;
            top: 2.5px;
            right: 5px;
            width: 15px;
            height: 15px;
            background-size: cover;
            -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
            transition:0.2s ease-in-out;
            &:hover{
                -webkit-filter: brightness(0) invert(0.5);
                filter: brightness(0) invert(0.5);
            }
            @media only screen and (min-width : $large-breakpoint){
                width: 35px;
                height: 35px;
                top: 5px;
                right: 0;
            }
        }
    }
    .insta-grid, .slick-slider, .slick-list, .slick-track{
        position: relative;
        display:flex;
        height:100%;
        width:100%;
        flex-wrap:wrap;
        @media only screen and (min-width : $large-breakpoint){
            flex-wrap:nowrap;
        }
    }
    .insta-photo, .slick-slide{
        width: 100%;
        height: 100%;
        min-height: 50vh;
        margin: 15px;
        background-position:center;
        display:none;
        position: relative;
        &:first-child{
            display:block;
        }
        &:after{
            content:"";
            background-color:rgba(0,0,0,0.2);
            width:100%;
            height:100%;
            left:0;
            top:0;
            position:absolute;
        }
        &:hover{
            &:after{
                opacity:0;
            }
        }
        @media only screen and (min-width : $ipad){
            width: calc(50% - 20px);
            margin:10px;
        }
        @media only screen and (min-width : $large-breakpoint){
            min-height:500px;
            display:block;
        }
        a{
            left:0;
            top:0;
            width:100%;
            height:100%;
            position: absolute;
            z-index:10;
        }
        .cover{
            background-size:cover;
            height:100%;
            width:100%;
            min-height:100vw;
            min-width:20vw;
            @media only screen and (min-width : $ipad){
                min-height:20vw;
            }
            @media only screen and (min-width : $large-breakpoint){
                min-height:20vw;
            }
        }
    }
}