#insta{
    flex-wrap:wrap;
    .insta-grid{
        position: relative;
        display:flex;
        height:100%;
        width:100%;
        flex-wrap:wrap;
        @media only screen and (min-width : $large-breakpoint){
            flex-wrap:nowrap;
        }
    }
    .insta-photo{
        width: 100%;
        height: 100%;
        min-height: 50vh;
        margin: 15px;
        background-position:center;
        display:none;
        &:first-child{
            display:block;
        }
        &:after{
            content:"";
            background-color:rgba(0,0,0,0.2);
            width:100%;
            height:100%;
            left:0;
            top:0;
            position:absolute;
        }
        &:hover{
            &:after{
                opacity:0;
            }
        }
        @media only screen and (min-width : $ipad){
            width: calc(50% - 20px);
            margin:10px;
        }
        @media only screen and (min-width : $large-breakpoint){
            min-height:500px;
            display:block;
        }
    }
}