.opening{
    padding:50px 0;
    background:$dm-blue;
    color:#000;
    .content--wrapper{
        flex-wrap:wrap;
        h4{
            &:after{
                background-color:#fff;
            }
        }
    }
    &--times{
        width:100%;
        display:flex;
        text-align:center;
        flex-wrap:wrap;
        @media only screen and (min-width : $breakpoint){
           flex-wrap:nowrap;
        }
    }
    &--time{
        flex:auto;
        line-height: 1.25;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        margin: 1em 0 2em;
        width:50%;
        @media only screen and (min-width : $ipad){
            width:20%;
         }
         .closed{
             margin-top:15px;
             display:inline-block;
             &.starting{
                 margin-top:0;
             }
         }
    }
    &--day{
        position: relative;
        margin-bottom:2em;
        font-weight:400;
        @include responsive-font-size (
            $min-font-size: 1em,
            $max-font-size: 1.5em,
            $min-screen-width: 640px,
            $max-screen-width: 1200px,
            $font-size-step: 0.1em /* optional, default: 0.1em */
            );
        &:after{
            content: "";
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 20%;
            right: 0;
            margin: 0 auto;
        }
    }
    &--start, &--end{
        position:relative;
        padding-left:15px;
        &:before{
            content:"";
            background-image:url("../images/clock.png");
            position: absolute;
            left: 15px;
            height: 15px;
            width: 15px;
            top: 1px;
            background-size: cover;
        }
        &.monday{
            padding-left:0;

            &:before{
                content:"";
                background-image:none;
            } 
        }
        //width:50%;
        //display:inline-block;
    }
    &--end{
        //width:50%;
        //display:inline-block;
    }
    &--message{
        text-align:center;
        width:100%;
        margin:2em auto 0;
        p{
            font-family: $f-title, sans-serif;
            line-height:1.5;
            font-weight:300;
            text-transform:uppercase;
            letter-spacing: 0.25em;
            @include responsive-font-size (
                $min-font-size: 1em,
                $max-font-size: 1em,
                $min-screen-width: 640px,
                $max-screen-width: 1200px,
                $font-size-step: 0.1em /* optional, default: 0.1em */
            );
        }
    }
}